html {
  font-size: 10px;
  scroll-behavior: smooth;
}

::selection {
  background-color: $color-primary;
}

section {
  scroll-margin-top: 5vh;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  
  ::marker {
    color: $color-primary;
  }
}

.container {
  max-width: $content-width;
  margin: auto;
  padding: 0 40px;

  @media screen and (max-width: $tablet-large-width) {
    padding: 0 30px;
  }

  @media screen and (max-width: $mobile-large-width) {
    padding: 0 10px;
  }
}