%flex-column {
  display: flex;
  flex-direction: column;
}

%round-button {
  @include size($width: 5.2rem);
  padding: 0;
  font-size: 2rem;
}

%burger-line {
  height: 2px;
  background-color: $color-primary;
}

%burger-line-dark {
  height: 2px;
  background-color: #000;
}