.columns-3-layout {
  @include flex($justify: space-between);
  flex-wrap: wrap;

  & > * {
    flex: 0 1 27.3%;

    @media screen and (max-width: 950px) {
      flex: 0 1 47%;
    }

    @media screen and (max-width: $tablet-small-width) {
      flex: 0 1 90%;
    }
  }

  @media screen and (max-width: $tablet-small-width) {
    justify-content: center;
  }
}