.nav-list {
  
  &__link {
    color: $color-dark;

    &_selected {
      color: $color-mineshaft;

      &::after {
        background-color: $color-primary;
      }
    }

    &:hover {
      color: $color-mineshaft;
    }
  }
}